* {
  margin: 0;
  padding: 0;
}
.clearfix:after {
  clear: both;
  content:"";
  display:block;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
}

body {
  font-family: Arial, Helvetica, Georgia, sans-serif, 'open sans';

  font-size: 15px;
  color: #222222;
  line-height: 1.3;
}

header {
  background-color: black;
}

header a {
  color: white;
  font-size: 14px;
  padding: 20px;
  display: block;
  float: left;
}
/*---------------------*/
.hero nav {
  float: right;
}
.hero a {
  padding: 15px 0 0 15px;
  display: block;
  float: left;
}
a {
  color: #1FA2E1;
  /*font-size: 24px;
  padding-right: 20px;*/
  text-decoration: none;
}

section {
  height: 550px;
  background-image: url("../images/photobanner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  float: left;
  font-family: 'Permanent Marker', cursive;
}
/*-------------------------*/
h2 {
  font-family: 'Permanent Marker', cursive;
}
h3 {
  font-family: 'Permanent Marker', cursive;
  color: #cccccc;
}
blockquote {
  border: solid 3px #eeeeee;
  font-family: georgia;
  padding: 20px;
  margin: 20px 0;
}
main {
  clear: both;
  content:"";
  display:block;
  width: 870px;

}
article {
  float:left;
  width: 274px;
  margin-right: 69px;
}
article:last-child {
  margin-right: 0;
}
/*--------------------------------*/

footer {
  background-color: #222222;
  background-size: cover;
  height: 314px;
}

footer div {

float: left;
display: block;

}
footer div a {
  display: block;
  border-bottom: dashed 1px grey;

 }
p {
  color: #cccccc;
}
.widget1 {
  width: 210px;
  padding-right: 40px;
 }

.widget2 {
  width: 400px;
}
.widget3 {
  width: 210px;
}


/*
article img {
  border: solid 2px grey;

}


footer{
  height: 400px;
  clear: both;
  content:"";
  display:block;
  font-color: #aaaaaa;
  background-color: #222222;
}
*/

/* Utility clearing classes you may use. 
.clear {
  clear: both;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
*/
