* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
}

body {
  font-family: Arial, Helvetica, Georgia, sans-serif;
  font-size: 15px;
  color: #222222;
  line-height: 1.3;
}
nav {
  background-color: #000000;
  width: 960px;
  text-align: left;
  float: left;
}
a {
  color: #1FA2E1;
  font-size: 24px;
  padding-right: 20px;
  text-decoration: none;
}
.clearfix {
  clear: both;
  content: "";
  display: block;
}

section {
  width: 960px;
  display: block;
  height: 370px;
  text-align: left;
  background-image: url("../images/photobanner.png");
  float: left;
}

h1 {
  width: 300px;
  float: left;
}
img {
  float: right;
}

.clearfix {
  clear: both;
  content: "";
  display: block;
}

blockquote {
  height: 80px;
  width: 960px;
  text-align: center;
  border-color: #eeeeee;

}











/* Utility clearing classes you may use. 
.clear {
  clear: both;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
*/
